# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\程序员\重新开始\hellword\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
